body {
	margin: 0;
	overflow: hidden;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 15px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	visibility: collapse;
	top: 0px;
	width: 100%;
	padding: 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

a, button, input, select {
	pointer-events: auto;
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}